<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title> 3D Printing </title>
    <link rel="icon" href="data:;base64,=">



</head>

<body>
<div id="app"></div>
<!--<script th:src="'http://localhost:8000/main.js'"></script>-->


<script  th:src="'/outjs/main.js'"></script>



</body>
</html>