<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>3Dprinting</title>
</head>
<body>
    <h3>3D printing</h3>
    <div> Main page! Welcome, {{ message }}! </div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>
