<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>3Dprinting</title>
</head>
<form action="/user" method="post">
    <fieldset>
        <legend><h3>Изменить информацию</h3></legend>
        <div><label> E-mail: <input type="email" name="email"/> </label></div>
        <div><label> Пароль: <input type="password" name="password"/> </label></div>
        <p>Укажите вашу роль: <br>
            <input type="radio" name="role" value="{{customer}}"/>Заказчик<Br>
            <input type="radio" name="role" value="{{executor}}"/>Исполнитель<Br>
        </p>
        <h4>Контактная информация</h4>
        <div><label> Имя: <input type="text" name="name"/> </label></div>
        <div><label> Фамилия: <input type="text" name="surname"/> </label></div>
        <div><label> Телефон: <input type="tel" name="phone"/> </label></div>
        <div><label> Дополнительная информация: <input type="text" name="information"/> </label></div>
    </fieldset>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Сохранить"/></div>
</form>
</body>
</html>